@font-face {
    font-family: Cyberverse;
    src: url(/css/cyberverse/Cyberverse.otf);
}

body{
    height: 90vh;
    padding: 0;
    background-color: #000000;
}

.clock {
    font-family: Cyberverse;
    background-color: #000000;
    color:#343583;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    font-size: 5rem;
    font-stretch: semi-expanded;
}